@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - FirstSide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/f35b5df2b2.js" crossorigin="anonymous"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav flex-grow-1">
                       
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Restaurant" asp-action="Index">Restauracje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Club" asp-action="Clubs">Kluby</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Event" asp-action="Events">Wydarzenia</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = UserManager.GetUserAsync(User);

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="AddNewItem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dodaj</a>

                                <div class="dropdown-menu" aria-labelledby="AddNewItem">
                                    <a class="dropdown-item" asp-controller="Restaurant" asp-action="Create">Restauracje</a>
                                    <a class="dropdown-item" asp-controller="Club" asp-action="Create">Klub</a>
                                </div>
                            </li>



                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Administration" asp-action="ListUsers">Users</a>
                                    <a class="dropdown-item" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                                </div>
                            </li>



                            <li class="nav nav-item nav-link dropdown ml-auto">
                                <a class="navbar-collapse navbar-toggler-icon" href="#" id="profile"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </a>
                                <div class="dropdown-menu shadow-lg border" background-color:honeydew aria-labelledby="profile">
                                    <button class="dropdown-item" type="button">Profil</button>

                                    <a asp-controller="MyAccount" asp-action="MyRestaurants" class="dropdown-item">Dodane</a>

                                    <form method="post" asp-controller="Account" asp-action="LogOut">
                                        <button class="dropdown-item" type="submit">Wyloguj się</button>
                                    </form>
                                </div>
                            </li>

                            

                        }
                        else
                        {
                            <li class="nav-item ml-auto">
                                <a class="nav-link text-light " asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-light " asp-area="" asp-controller="Account" asp-action="SignIn">Sign in</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="max-width:80%">
        <main role="main" class="pb-3">

            @RenderBody()

        </main>
    </div>


    <footer class="border-top  footer text-muted  bg-dark">
        <div class="container">
            &copy; 2019 - FirstSide
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
