<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have permission to view this resource</h6>
    <img src="~/Image/no-entry-300x300.png" style="height:30em; width:30em" />
</div>