@model List<Restaurant>

@{
    ViewData["Title"] = "Restauracje";
}
<div class="d-flex justify-content-between mb-3">
    <div class="col-sm-6 row">
        <div class="form-group col-xl-5 col-lg-6  p-1">
            <input type="text" class="form-control" id="name" value="@ViewBag.CurrentFilterName" placeholder="Restauracja" autocomplete="off" />

        </div>
        <div class="form-group col-xl-5 col-lg-6  p-1">
            <input type="text" class="form-control" id="city" value="@ViewBag.CurrentFilterCity" placeholder="Miasto" autocomplete="off" />
        </div>

        <div class="col-xl-2 text-center p-1">
            <input type="button" class="btn btn-info " id="btnSearch" value="Szukaj" />
        </div>
    </div>

    <div class="col-sm-3 p-1 text-center">
        <select class="custom-select" id="Sorted">
            <option value="0">Sortuj</option>
            <option value="1">Liczba odwiedzin</option>
            <option value="2">Opinie</option>
            <option value="3">Wydarzenia</option>
        </select>
    </div>


</div>

@if (Model != null)
{
    <div class="row" id="restaurants">
        <partial name="_Restaurants" model="Model" />
    </div>

}



@section Scripts{
    <script>
        $("#btnSearch").click(function (e) {
            $.ajax({
                url: '/Restaurant/SearchRestaurant',
                type: 'POST',
                data: {
                    CurrentFilterName: $("#name").val(),
                    CurrentFilterCity: $("#city").val(),
                },
                success: function (result) {
                    $("#restaurants").html(result);
                },
            })
        });

        $("#Sorted").change(function () {
            $.ajax({
                url: '/Restaurant/SortedRestaurant',
                type: 'POST',
                data: {
                    WhichSort: $(this).val()
                },
                success: function (result) {
                    $("#restaurants").html(result);
                }
            })
        });
    </script>

}








