@model HomeVM

@{
    ViewData["Title"] = "Restaurants";
}

<div class="col-9 mx-auto" >
    <form asp-action="SearchRestaurant" asp-controller="Restaurant" method="get" class="row d-flex justify-content-center" autocomplete="off">
        
        
        <div class="form-group row col-lg-5 col-md-6 my-2">
            <label class="col-sm-4 col-form-label px-0"> Restauracja</label>

            <div class="col-sm-8 ">
                <input type="text" class="form-control" name="nameRestaurant" value="@ViewBag.CurrentFilterName" placeholder="Nazwa"/>
            </div>
        </div>

        <div class="form-group row col-lg-5 col-md-6 my-2  ">
            <label class="col-sm-4 col-form-label px-0 ">Miasto</label>

            <div class="col-sm-8 ">
                <input type="text" class="form-control" name="nameCity" value="@ViewBag.CurrentFilterCity" placeholder="Miasto" />
            </div>
        </div>

        <div class="form-group row col-lg-2 my-2">
            <button class="btn btn-info mx-auto">Szukaj</button>
        </div>
    </form>
</div>


<div class="row">
    @if (Model.Restaurants != null)
    {


        <partial name="_Restaurants" model="Model.Restaurants" />


    }
</div>







