@model HomeVM

@{
    ViewData["Title"] = "Restaurants";
}



<div class="row">
    @if (Model.Restaurants != null)
    {
        @foreach (var restaurant in Model.Restaurants)
        {

            <partial name="_Restaurants" model="restaurant" />

        }
    }
</div>







