@model HomeVM

@{
    ViewData["Title"] = "Home";
}

 <div class="row">
        @foreach (var photo in Model.Zdjęcia)
        {
            var photoPath = "~/Image/" + (photo.ZdjecieUrl ?? "noimage.jpg");
            <div class="col-mb-3 shadow-sm">

                <div class="img-thumbnail">
                    <img src="@photoPath" asp-append-version="true" alt="" width="250" height="200" />
                    <p class="text-center">@photo.Name</p>
                </div>

            </div>
            }
  </div>