@model HomeVM

@{
    ViewData["Title"] = "Lokale";
}

<div class="col-sm-6 row mx-auto mb-3">

    <div class="form-group col-xl-5 col-lg-6 my-2 p-1">
        <input type="text" class="form-control mx-0" id="name" value="@ViewBag.ClubName" placeholder="Lokal" autocomplete="off" />
    </div>
    <div class="form-group col-xl-5 col-lg-6 my-2 p-1">
        <input type="text" class="form-control m-0" id="city" value="@ViewBag.ClubCity" placeholder="Miasto" autocomplete="off" />
    </div>

    <div class="col-xl-2 my-2 text-center p-1">
        <input type="button" class="btn btn-info " id="btnSearch" value="Szukaj" />
    </div>

</div>



@if (Model.Clubs != null)
{
    <div class="row" id="clubs">
        <partial name="_Clubs" model="Model.Clubs">
    </div>
}

@section Scripts{
    <script>
        $("#btnSearch").click(function (e) {
            $.ajax({
                url: '/Club/SearchClub',
                type: 'POST',
                data: {
                    ClubName: $("#name").val(),
                    ClubCity: $("#city").val(),
                },
                success: function (result) {
                    $("#clubs").html(result);
                },
            })
        })
    </script>

}