@model HomeVM

@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Dodane";
    var user = UserManager.GetUserAsync(User);
}

<div class="row">
    <div class="col-lg-6">
        <div class="list-group">
            @if (Model.Restaurants != null)
            {
                @foreach (var restaurants in Model.Restaurants)
                {
                    <a class="list-group-item list-group-item-action">@restaurants.Name</a>
                }
            }
        </div>
    </div>
    <div class="col-lg-6">
        <div class="list-group">
            @if (Model.Clubs != null)
            {
                @foreach (var club in Model.Clubs)
                {
                    <a class="list-group-item list-group-item-action">@club.Name</a>
                }
            }

        </div>
    </div>
</div>
