@model PhotoVM
@{
    ViewData["Title"] = "Thank you";
}
<div class="col mx-auto" style="margin-top:10%">
    <div class="text-center">
        <h1 class="display-4">Dziękujemy za dodanie zdjęcia! </h1>
    </div>
</div>