@model EventVM


@{
    ViewData["Title"] = "Add event";
}


<link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/lib/jquery-timepicker/jquery.timepicker.min.css" rel="stylesheet" />
<link href="~/lib/jquery-datetimepicker/jquery.datetimepicker.css" rel="stylesheet" /> 


<div class="m-3 col-md-4 mx-auto my-5">

    <form enctype="multipart/form-data" asp-controller="Event" asp-action="AddEvent" method="post" autocomplete="off">

        <input type="hidden" asp-for="RestaurantId" />

        <div class="form-label-group" style="margin-bottom:0.5rem">
            <label asp-for="Name">Nazwa wydarzenia</label>
            <input asp-for="Name" class="form-control" placeholder="Wydarzenie" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group d-flex justify-content-between">

            <div class="form-label-group">
                <label asp-for="DateStart">Start</label>
                <input asp-for="DateStart" type="text" class="datepicker form-control"  value="Data wydarzenia" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>

            <div class="form-label-group ">
                <label asp-for="DateEnd">Koniec</label>
                <input asp-for="DateEnd" type="text" class="datepicker form-control"  value="Zakończenie" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
        </div>

        <div class="form-label-group ">
            <label asp-for="Place">Miejsce wydarzenia</label>
            <input asp-for="Place" type="text" class="form-control" placeholder="Miejscowość" />
            <span asp-validation-for="Place" class="text-danger"></span>
        </div>


        <div class="form-label-group">
            <label asp-for="File">Zdjęcie</label>
            <div class="custom-file">
                <input asp-for="File" class="form-control custom-file-input">
                <label class="custom-file-label overflow-hidden">Wybierz zdjęcie</label>
            </div>
            <span asp-validation-for="File" class="text-danger"></span>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary ">Dodaj wydarzenie</button>
        </div>

    </form>
</div>




@section Scripts
{
    <script type="text/javascript" src="~/lib/jquery-timepicker/jquery.timepicker.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datetimepicker/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".datepicker").datetimepicker({
                minDate: new Date()
            });

            $(".custom-file-input").on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(filename);
            });


        });
    </script>

}

