@model HomeVM

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Wydarzenia";
}

<div class="row">
    @foreach (var events in Model.EventRestaurant)
    {
        var photoPath = "~/ImageEvent/" + (events.PhotoUrl ?? "noImage.jpg");

        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div data-toggle="modal" data-target="#model-@events.Id" style="cursor:pointer"><img src="@photoPath" asp-append-version="true" class="rounded border w-100" id="img" /></div>
                <div class="card-body py-2">
                    <div class="d-flex justify-content-between">
                        <a>@events.EventName</a>
                        <a>@events.DateStart.ToString("d MMMM")</a>
                    </div>

                    <div class="text-right">
                        @if (events.HowManyYet() == 0)
                        {
                            <small class="text-muted  m-1">Dzisiaj</small>
                        }
                        else
                        {
                            <small class="text-muted  m-1">@events.HowManyYet() Dni</small>
                        }


                    </div>


                </div>
            </div>
        </div>
    }
</div>




