@{
    ViewData["Title"] = "Thank you";
}
<div class="col mx-auto" style="margin-top:10%">
    <div class="text-center">
        <h1 class="display-4">Dziękujemy za dodanie wydarzenia! </h1>
        <a class="btn btn-outline-primary" asp-action="Events" asp-controller="Event">Wydarzenia</a>
    </div>
</div>